@theme {
  --headui-primary: blue;
  --headui-success: green;
  --headui-warning: yellow;
  --headui-danger: red;

  --headui-gray: stone;

  /* --color-primary-*: theme(--color-blue-); */
  --color-primary-50: var(--color-blue-50);
  --color-primary-100: var(--color-blue-100);
  --color-primary-200: var(--color-blue-200);
  --color-primary-300: var(--color-blue-300);
  --color-primary-400: var(--color-blue-400);
  --color-primary-500: var(--color-blue-500);
  --color-primary-600: var(--color-blue-600);
  --color-primary-700: var(--color-blue-700);
  --color-primary-800: var(--color-blue-800);
  --color-primary-900: var(--color-blue-900);
  --color-primary-950: var(--color-blue-950);

  --color-success-50: var(--color-green-50);
  --color-success-100: var(--color-green-100);
  --color-success-200: var(--color-green-200);
  --color-success-300: var(--color-green-300);
  --color-success-400: var(--color-green-400);
  --color-success-500: var(--color-green-500);
  --color-success-600: var(--color-green-600);
  --color-success-700: var(--color-green-700);
  --color-success-800: var(--color-green-800);
  --color-success-900: var(--color-green-900);
  --color-success-950: var(--color-green-950);

  --color-warning-50: var(--color-amber-50);
  --color-warning-100: var(--color-amber-100);
  --color-warning-200: var(--color-amber-200);
  --color-warning-300: var(--color-amber-300);
  --color-warning-400: var(--color-amber-400);
  --color-warning-500: var(--color-amber-500);
  --color-warning-600: var(--color-amber-600);
  --color-warning-700: var(--color-amber-700);
  --color-warning-800: var(--color-amber-800);
  --color-warning-900: var(--color-amber-900);
  --color-warning-950: var(--color-amber-950);

  --color-danger-50: var(--color-red-50);
  --color-danger-100: var(--color-red-100);
  --color-danger-200: var(--color-red-200);
  --color-danger-300: var(--color-red-300);
  --color-danger-400: var(--color-red-400);
  --color-danger-500: var(--color-red-500);
  --color-danger-600: var(--color-red-600);
  --color-danger-700: var(--color-red-700);
  --color-danger-800: var(--color-red-800);
  --color-danger-900: var(--color-red-900);
  --color-danger-950: var(--color-red-950);

  --color-natural-50: var(--color-slate-50);
  --color-natural-100: var(--color-slate-100);
  --color-natural-200: var(--color-slate-200);
  --color-natural-300: var(--color-slate-300);
  --color-natural-400: var(--color-slate-400);
  --color-natural-500: var(--color-slate-500);
  --color-natural-600: var(--color-slate-600);
  --color-natural-700: var(--color-slate-700);
  --color-natural-800: var(--color-slate-800);
  --color-natural-900: var(--color-slate-900);
  --color-natural-950: var(--color-slate-950);

  --color-accent-50: var(--color-primary-50);
  --color-accent-100: var(--color-primary-100);
  --color-accent-200: var(--color-primary-200);
  --color-accent-300: var(--color-primary-300);
  --color-accent-400: var(--color-primary-400);
  --color-accent-500: var(--color-primary-500);
  --color-accent-600: var(--color-primary-600);
  --color-accent-700: var(--color-primary-700);
  --color-accent-800: var(--color-primary-800);
  --color-accent-900: var(--color-primary-900);
  --color-accent-950: var(--color-primary-950);
}

@utility variant-default {
  @apply bg-white border border-natural-200 not-disabled:hover:bg-natural-50;
}
@utility variant-solid {
  @apply text-white bg-(--color-accent-500) border border-transparent hover:bg-(--color-accent-600);
}
@utility variant-soft {
  @apply text-(--color-accent-600) bg-(--color-accent-100) border border-transparent hover:bg-(--color-accent-200);
}
@utility variant-outline {
  @apply text-(--color-accent-600) bg-white border border-(--color-accent-500) hover:bg-(--color-accent-50);
}
@utility variant-text {
  @apply text-(--color-accent-600) bg-transparent border border-transparent hover:bg-(--color-accent-100);
}
